/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Đảm bảo Navbar luôn nằm trên các phần tử khác */
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

    .navbar-links li a {
        color: white;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
    }

        .navbar-links li a:hover {
            background-color: #555;
        }
