[Uint]
Description=FU-OJ Client
Wants=network-online.target
After=network.target

[Service]
User=fuoj
Group=fuoj
WorkingDirectory=/var/www/fuoj-client
ExecStart=/usr/bin/npm run preview
Environment=NODE_ENV=production
Restart=always
RestartSec=10
SyslogIdentifier=fuoj-client

[Install]
WantedBy=multi-user.target
